body {
  background-color: white; ;
  color: black;
  padding: 40px;  
  font-family: Arial;
  text-align: center;
  margin:0;
  padding: 0;
 }
 nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 0;
  background-color: #3498db;
  z-index: 100;
 }
 
 nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
 }
 
 nav a:hover {
  color: #ddd;
 }
 /* This is the common CSS that applies to both components */


